registry=https://pkgs.dev.azure.com/desarrollooticoptimus/optimus/_packaging/FrontComponent/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/desarrollooticoptimus/optimus/_packaging/FrontComponent/npm/registry/:username=desarrollooticoptimus
//pkgs.dev.azure.com/desarrollooticoptimus/optimus/_packaging/FrontComponent/npm/registry/:_password=emJmZWFmdDVxaWRxYWt3cGZxNTVqZDduejI1ZzJkbXF4ZGJsdGxhdDczcnZhNHBidnV4YQ==
//pkgs.dev.azure.com/desarrollooticoptimus/optimus/_packaging/FrontComponent/npm/registry/:email=desarrollo_otic@ccc.cl
//pkgs.dev.azure.com/desarrollooticoptimus/optimus/_packaging/FrontComponent/npm/:username=desarrollooticoptimus
//pkgs.dev.azure.com/desarrollooticoptimus/optimus/_packaging/FrontComponent/npm/:_password=emJmZWFmdDVxaWRxYWt3cGZxNTVqZDduejI1ZzJkbXF4ZGJsdGxhdDczcnZhNHBidnV4YQ==
//pkgs.dev.azure.com/desarrollooticoptimus/optimus/_packaging/FrontComponent/npm/:email=desarrollo_otic@ccc.cl
; end auth token