@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,500&display=swap');


:root {
  --color-info: #939799;
  --color-danger: #e55257;
  --color-warning: #f1a946;
  --color-primary: #316772;
  --color-darkened: #464646;
  --color-disabled: #f3f3f3;
  --color-secondary: #65bfb1;
  --color-background: #f3f3f3;
}


@tailwind base;
@tailwind components;
@tailwind utilities;